Options +FollowSymLinks

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !/public
RewriteRule ^(.*)\.(js|css|png|jpg|gif|swf)$ public/$1\.$2 [L]

RewriteCond %{REQUEST_FILENAME} !/src/views
RewriteRule ^views/(.*)\.(xml|xsl)$ src/views/$1\.$2 [L]

RewriteCond %{REQUEST_FILENAME} !/(public|src/views) [OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ public/lx-dispatch.php [QSA,L]
