body
{
  text-align: center;
  background-color: #dddddd;
  font-family: Sans-Serif;
}

a
{
  color: #444444;
  text-decoration: none;
}
a:hover
{
  color: #cccccc;
}

li
{
  list-style: square inside;
}

h1
{
  margin: 0.5em 0.5em 0.9em 0.3em;
  padding: 0;
  color: #444444;
}

h2
{
  margin: 0.5em 0.5em 0.6em 1.0em;
  padding: 0;
  color: #444444;
}

h3
{
  margin: 0.5em 0.5em 0.3em 0.3em;
  padding: 0;
  color: #444444;
}

form
{
  margin: 0;
  padding: 0;
}